<!-- footer div -->

  <div class="text-md-end p-4 mt-5" id="footerdiv">
    <div class="footer mt-3">
      <ul class="">
        <li class="fs-1 d-md-inline"><a href="" class=""><i class="fab fa-facebook"></i></a></li>
        <li class="fs-1 d-md-inline" ><a href=""><i class="fab fa-instagram"></i></a></li>
        <li class="fs-1 d-md-inline"><a href=""><i class="fab fa-twitter-square"></i></a></li>
        <li class="fs-1 d-md-inline"><a href=""><i class="fab fa-linkedin"></i></a></li>
        <li class="fs-1 d-md-inline"><a href=""><i class="fab fa-youtube-square"></i></a></li>
      </ul>
      <p class="text-center text-light">some copy right data</p>
      <p class="text-center text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio quod repellendus, ullam omnis autem eligendi dolore reiciendis. Odio iste dolorum, eos incidunt, officia minima quidem facilis eius animi expedita dolorem.</p>
      <p class="text-end text-light fs-1 me-4">
        <a href="#carouselExampleIndicators"><i class="fas fa-arrow-up"></i></a>
      </p>
      <p class="text-end text-light fs-6">Back to Top</p>
    </div>
  </div>