<div class="row">
    <div class="col-sm-8 p-5">
        <h1>Our Company</h1>
<p>Learn more about Amazon.</p>
<ol>
    <li>Images and Videos</li>
    <li> Press Releases</li>
    <li>Day One: The Online shopping  Blog</li>
    <li> Day One: The Amazon Blog Stellar Stories - Coffee Table Book, 2019</li>
    <li> Transformations - Coffee Table Book, 2018</li>
</ol>

<h1>Building the future</h1>
<p>We strive to have a positive impact on customers, employees, small businesses, the economy, and communities. Amazonians are smart, passionate builders with different backgrounds and goals, who share a common desire to always be learning and inventing on behalf of our customers.</p>
<ol>
    <li> Supporting small business</li>
    <li> Authors</li>
    <li> In the community</li>
    <li> Our innovations</li>
</ol>

<h1>Working at Online Shopping</h1>
<p>If you're an inventor, you love to build and be part of high performance teams who are passionate about operational excellence—you’ll love it here. From day one at Amazon, you'll take ownership of projects that have a direct impact on our customers. You'll love being an Amazonian!</p>


<h1>Opportunities</h1>
<p>From selling globally to locally, from making money on your site to expanding your business, Amazon has a lot of opportuntiies for you to explore.</p>
</div>
<div class="col-sm-4 p-5">
    <img src="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/83152ce/2147483647/strip/true/crop/4000x4000+857+0/resize/1600x1600!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F40%2Fbe%2Ffc5cd4764825b97abfa0da521809%2Fassociatesgoingfordelivery-leh.jpg" alt="">
    <h1>Online Shopping India scales delivery network ahead of the festive season</h1>
    <p>Close to 200 delivery stations added, including those operated by Delivery Service Partners across the country to further its direct reach, including in many remote northeastern towns such as Champhai, Kolasib, Lumding and Mokokchung.</p>
    
    <img src="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/8e5f134/2147483647/strip/true/crop/3600x3600+740+0/resize/1600x1600!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F37%2F77%2F8230c18942bcb69873e9bfaab3ba%2Flp.jpg" alt="">
    <h1>Our Leadership Principles</h1>
    <p>Our Leadership Principles aren't inspirational wall hangings. These Principles work hard, just like we do.</p>

    <img src="https://d39w7f4ix9f5s9.cloudfront.net/dims4/default/ea85234/2147483647/strip/true/crop/3456x3456+864+0/resize/1600x1600!/quality/90/?url=http%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2F69%2F56%2Fc1cae5804ea9821fe628eb0124cc%2Fimg-9618.jpg" alt="">
    <h1>Empowering entrepreneurship and working towards a sustainable India</h1>
    <p>Entrepreneurship is at the core of all the success stories of sellers, innovators, artisans and brands at Amazon India and we are humbled to have enabled their journeys in some way.</p>

</div>
</div>

<app-footer></app-footer>
