<nav class="navbar navbar-expand-sm  sticky-top">
  <a href="#" class="navbar-brand fs-3 ms-md-4 ms-2 brand text-white"><i class="fas fa-university"><p class="d-inline display-6 ms-2 brand">Find Your College.com</p></i></a>
  <button class="navbar-toggler me-2 bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>
 <div class="collapse navbar-collapse text-center" id="navbar">
  <ul class="navbar-nav  m-sm-0 ">
    <li class="nav-item">
      <a href="" routerLink="home" class="nav-link text-white fs-6">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="college" class="nav-link text-white fs-6">Colleges</a>
    </li>
    <li class="nav-item">
      <a href="" routerLink="cards2" class="nav-link text-white fs-6">Cards</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        More about
      </a>
      <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
        <li><a class="dropdown-item" href="#">Top 50 Colleges</a></li>
        <li><a class="dropdown-item" href="#">Best in placements </a></li>
        <li><a class="dropdown-item" href="#">Contact Us</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a href="" routerLink="about" class="nav-link text-white fs-6">About</a>
    </li>
  </ul>
  <div class="input-group w-50 ms-auto me-3 ">
    <input type="text" class="form-control" placeholder="Search By College Name">
    <button class="btn btn-outline-light ">search</button>
  </div>
 </div>
</nav>

<div class="">
  <router-outlet></router-outlet>
</div>
